<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home page</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Add-Another-Button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/styles.css">

</head>

<style>
    #createPost {
        background-color: aliceblue;
        display: none;
    }
</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
   /** window.onload = function () {
        $.get('/account/profilepic', function (data) {
            console.log(data);
            if (data != '') {
                $("img").attr("src", data);
            } else {
                $("img").attr("src",
                    "https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png");
            }
        });
    };*/
</script>

<script>
    $(document).ready(function() {
        $('#createPost').hide();
    })
</script>

<body style="background-color: white;font-family: 'Open Sans', sans-serif;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">Charity Case</a><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/profile">account</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/edit">edit account info</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input
                            class="form-control search-field" type="search" id="search-field" name="search"></div>
                </form><a class="btn btn-light action-button" role="button" href="/account/logout">logout&nbsp;</a>
            </div>
        </div>
    </nav>
    <div class="jumbotron"
        style="height: 200px;margin-left: 15%;margin-right: 15%;background-color: #ffffff;margin-bottom: 48px;">
        <h1
            class="d-lg-flex d-xl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center bounce animated">
            Welcome, <%- name %>.</h1>
        <p class="d-lg-flex d-xl-flex justify-content-lg-center justify-content-xl-center">Explore your local donation
            options below. Thank you for your support!</p>
        <p></p>
        <button type="button" onclick="$('.posts').hide(); $('#createPost').show()">Create Post</button>
        <button type="button" onclick="$('.posts').hide();">Filter</button>
        <p></p>

        <form method="post" action="/home/createpost" id="createPost">
            <label for="category">Donation Category:</label><br>
            <input type="text" id="category" name="category" value=""><br>
            <label for="zip">Zip Code:</label><br>
            <input type="number" id="zip" name="zip" value=""><br><br>
            <label for="tag">Tag:</label><br>
            <input type="text" id="tag" name="tag" value=""><br><br>
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description" value=""><br><br>
            <input type="submit" value="Submit">
            <button type="button" onclick="$('.posts').show(); $('#createPost').hide()">Cancel</button>
        </form>
    </div>
    <div class="posts" id="posts"> 
        <% for (var i = posts.length-1; i >= 0 ; i--) {%>
        <div class="border rounded shadow-lg profile-card" data-bs-hover-animate="pulse"
            style="margin-left: 15%;margin-right: 15%; margin-bottom: 30px; background-color: #ffffff;">
            <div class="border rounded border-dark profile-back"
                style="height: 80px;background-color: rgb(86,198,198);">
            </div><img class="rounded-circle border rounded border-dark shadow-lg profile-pic" src=<%=posts[i].profilepic%>>
            <h3 class="border rounded border-dark shadow-lg profile-name"
                style="background-color: #56c6c6;color: #ffffff;">
                <%=posts[i].sender%></h3>
            <div class="d-table" style="margin-top: 30px;margin-bottom: 30px;width: 100%;">
                <div class="float-left" style="width: 50%;color: #ffffff;">
                    <p style="color: #222222;font-size: 20px;"><strong><%=posts[i].type%></strong></p>
                    <p style="font-size: 20px;color: #222222;"><em><%=posts[i].category%></em></p>
                    <p style="color: #222222;font-size: 20px;"><%=posts[i].zip%></p>
                </div>
                <div class="float-right" style="width: 50%;">
                    <p class="my-auto" style="margin: 0;color: #222222;"><%=posts[i].description%></p>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>