<!-- views/profile.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <% include ../views/partials/head %>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <style>
        #createPost {
            background-color: aliceblue;
            display: none;
        }
    
        .dropdown-content {
            position: absolute;
            display: none;
            background-color: #f6f6f6;
            overflow: auto;
            border: 1px solid #ddd;
            transform: translateY(39px);
            z-index: 1;
        }
    
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
    
        }
    </style>
    <script>
        $("document").ready(function() {
            $('input[type=file]').on("change", function() {
                var $files = $(this).get(0).files;
                if ($files.length) {
                    console.log("uploading file to imgur");

                    var apiUrl = 'https://api.imgur.com/3/image';
                    var apiKey = '660a2b2b61c17f3';

                    var settings = {
                        async: false,
                        crossDomain: true,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: apiUrl,
                        headers: {
                        Authorization: 'Client-ID ' + apiKey,
                        Accept: 'application/json'
                        },
                        mimeType: 'multipart/form-data'
                    };

                    var formData = new FormData();
                    formData.append("image", $files[0]);
                    settings.data = formData;

                    //ajax req to imgur to upload
                    //response = stringified JSON
                    //img url is now response.data.link
                    $.ajax(settings).done(function(response) {
                        var json = JSON.parse(response);
                        var link = json.data.link;
                        console.log(link);
                        $("img").attr("src",link);
                        console.log('changed prof pic');

                        $.post('/account/updateprofilepic', {
                            profilepic: link
                        }, function(data){
                            console.log(data);
                        });

                    });
                }
            });
        });

        window.onload = function() {
            $.get('/account/profilepic', function(data) {
                console.log(data);
                if (data != '') {
                    $("#profilepic").attr("src",data);
                } else {
                    $("#profilepic").attr("src","https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png");
                }
            });
        };

    </script>
</head>

<body style="background-color: white;font-family: 'Open Sans', sans-serif;">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container"><a class="navbar-brand" href="#">Charity Case</a><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/home">home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/profile">account</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/edit">edit account info</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input
                            class="form-control search-field" type="search" id="search-field" name="search"></div>
                </form><a class="btn btn-light action-button" role="button" href="/account/logout">logout&nbsp;</a>
            </div>
        </div>
    </nav>
    <main>
        <br>
            <h1><b><i> <%- nameMessage %> </i></b></h1>
            <span>
                <img id = "profilepic" src="" alt="ProfilePic" class="w3-border w3-padding" style="width:100%;max-width:200px; text-align: center;">
                <p></p>
                <div style = "display: inline-block; font-size: 15px; color:grey">
                    <i>Change your profile picture: </i> 
                        <input type="file" name="profPic" accept="image/*" /> 
                </div>
            </span>
            <br>
            <br>
        <div class="profileInfo" style="margin-top: 10px;margin-bottom: 30px;width: 100%;">
            <div class = "stats" style = "width: 1100px; display: inline-block; text-align: center;">
                <h3 class="border rounded border-dark shadow-lg profile-name float-left"
                style="background-color: #56c6c6;color: #ffffff;width:50%">
                    <p><i>Donation Posts Made:</i></p>
                    <% if (wallposts==null || wallposts.length==0) {%>
                        <p>0</p>
                        <% } else {%>
                    <p><%=wallposts.length%></p>
                    <% } %>
                </h3>
                <div style = "display: inline-block;">
                    <p style="font-size: 20px;color: #222222;">
                        <b>Email: <%= emailMessage %></b>
                        <p>
                            <%if (accType) { %>
                                <p><span style="color: black;"><b>Account Type: Recipient</b></span></p>
                            <% } else { %>
                                <p><span style="color: black;"><b>Account Type: Donor</b></span></p>
                            <% } %>
                    </p>
                </div>
                <h3 class="border rounded border-dark shadow-lg profile-name float-right"
                    style="background-color: #56c6c6;color: #ffffff;width:50%">
                    <p><i>Donors following:</i></p>
                        <p>0</p>
                </h3>
            </div>

        </div>
        <div class="div-signup">
			<i><p id="signup"><font color="black"></font>Want to edit your account? <a href="/edit">You can do so here!</a></p></i>	
        </div>
        <h4><b>Your posts:</b></h4>

        <div class="wallposts" id="wallposts">
            <% if (wallposts != null && wallposts.length != 0) {
            for (var i = wallposts.length-1; i >= 0 ; i--) {%>
            <div class="border rounded shadow-lg profile-card" data-bs-hover-animate="pulse"
                style="margin-left: 15%;margin-right: 15%; margin-bottom: 15px; background-color: #ffffff;">
                
                <h3 class="border rounded border-dark shadow-lg profile-name"
                    style="background-color: #56c6c6;color: #ffffff;">
                    <%=wallposts[i].sender%></h3>
    
                    
                <div class="d-table" style="margin-top: 15px;margin-bottom: 15px;width: 100%;text-align: center">
                    <div class="float" style="width: 100%;text-align: center">
                        <p class="my-auto" style="margin: 0;color: #222222;text-align: center"><%=wallposts[i].description%></p>
                    </div>
                </div>
            </div>
            <% } }%>
        </div>
</main>


</body>

</html>